@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Suez+One&display=swap');

 *{
  margin: 0;
  padding: 0;
  outline: none;
 }

 body, html {
   width: 100%;
   height: 100%;
 }

 body{
   font-family: Trebuchet MS, Helvetica;

  background-image: url("https://img0.liveinternet.ru/images/attach/c/5/86/655/86655110_84245305_Hokusai_Hram_Hongandzi_v_Asakusa.jpg");
 }

 header {
   width: 100%;
   padding: 0px;
   float: left;
   position: fixed;
   background-color: #2f3640;
   border-bottom: 2px solid #fff;
   border-shadow: 5px;
   z-index: 9999;
 } 


// MENU !


#about{
}
#about ul,
#about ol{
 display: flex;
 list-style: none;
 border-radius: 20px;
}

#about > ul{
 display: flex;
 align-items: center;
 float: right;
 padding-right: 10%;
 //line-height: 80px;
 //padding: 3px;
 //border: 1px #fff solid;
 overflow: hidden;
 height: 53px;
 //padding-bottom: 20px;
 //align-self: flex-end;
}

#about > ul li a{
//display: absolute;
color: #fff;
background: #434b56;
font-size: 23px;
text-transform: uppercase;
transition: all 0.4s ease;
padding:13px;
padding-top: 15px;
padding-bottom: 12px;
z-index:9999;
}

#about > ul li:first-child:hover a{
}
#about > ul li:first-child a{
      background-color: #2f3640;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      border-radius: 50%;
      width: 20px;
}
#about > ul li:last-child a{
padding-right: 15px;
border-radius:0px 25px 25px 0px;
}

 #about > ul li a:hover {
   background-color: #262c33;
 } 
 #about > ul li a:active {
   background-color: #999;
   transition: none;
 } 



/*sub menu*/


#about li > ul li:first-child a{
display: block;
border-radius: 0px;
background-color: #262c336e;
width: 100%;
}
 #about > ul li:first-child a:hover {
   background-color: #262c33;
 } 
 #about > ul li:first-child a:active {
   background-color: #999;
   transition: none;
 } 


#about li ul{
position: absolute;
min-width: 150;
display: none;
}

#about li > ul li a{
display: flex;
text-transform: none;
padding-top: 5px;
font-size: 18px;
background-color: #262c336e;
padding-left: 5px;
}

#about li:hover > ul{
display: block;
}


#about li > ul{
overflow: hidden;
//border-bottom: 1px #fff solid;
//border-left: 1px #fff solid;
//border-right: 1px #fff solid;
margin-top: 11px;
border-radius:0px 30px 15px 15px;
z-index:9998;
}
#about li > ul li:last-child a{
border-radius: 0px;
padding-left: 5px;
}


.search-box {
  //position: releative;
  display: flex;
  padding: 3px;
  background-color: #434b56;
  border-radius: 40px 0px 0px 40px;
  //margin-top: -13px;
  height: 48px;
  //margin-bottom: -1px;
  //align-self: flex-end;
}
.search-btn {
}
.search-txt {
    display: flex;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 0;
    background: none;
    //line-height: 40px;
    width: 0;
    transition: all 0.4s ease;
}
::-webkit-input-placeholder {
color: #fff8;
}
.search-box:hover .search-txt {
    width: 170px;
    padding: 0 6px;
}
#about li .search-btn:hover {
//font-size: 20px;
}
#about li .search-btn:active {
background-color: #999;
font-size: 15px;
}
.search-box:hover{
background-color: #434b56;
//background-color: #7f7f7f5e;
}
 a{
 text-decoration: none;
 }
 header #logo {
   color: #fff;
   cursor: pointer;
   padding-top: 10px;
   float: left;
 }

 header #logo span {
   font-size: 1.7em;
   line-height: 35px;
   padding-left: 10%;
   font-family: 'Suez One', serif;
 }
 header #logo:active {
   color: #999;
}
 @media (min-width: 1251px) {
   #logo {
     font-size: 1em;
   }
 }
 @media (max-width: 1250px) {
   #logo {
     //text-align: center;
     //font-size: 0.8em;
     //width: 100%;
   }
   #about > ul{
     padding-right: 2%;
     //justify-content: center;
     //float: left;
     
}
 }
 /*  @media (max-width: 1099px) {
   #logo {
     text-align: center;
     font-size: 0.8em;
     width: 100%;
   } 

   #about > ul{
   //float: left;
     //width: 100%;
    // padding-right: 0px;
     //padding-left: 3000px;
     //text-align: center;
     //justify-content: center;
     //padding-right: 0px;
}
 }    */

  #top{
  width: 100%;
  height: 10000px;
  background-blend-mode: multiply;
  text-align: center;
  color: #fff;
  font-size: 2em;
  }

  /*
@media (min-width: 1001px) {
    #top {
     font-size: 2em;
   }
  }
  @media (max-width: 1000px) and (min-width: 651px) {
      #top {
        font-size: 1.5em;
      }
    }
  @media (max-width: 750px) {
          #top {
            font-size: 1em;
          }
        }    */

  #top h1{
 
  }
  
  .wrapper{
	//height: 300px;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
//.slider{
// min-width: 0;
//}
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-end;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{
   cursor: pointer;
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
   opacity: 0.2;
}
.slick-arrow:hover{
   opacity: 0.8;
}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
 min-width: 0;
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 0;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url("prev.png") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url("next.png") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
 text-align: center;
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}


  



