@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Suez+One&display=swap');

 *{
  margin: 0;
  padding: 0;
  outline: none;
 }

 body, html {
   width: 100%;
   height: 100%;
 }

 body{
   font-family: Trebuchet MS, Helvetica;

  background-image: url("https://img0.liveinternet.ru/images/attach/c/5/86/655/86655110_84245305_Hokusai_Hram_Hongandzi_v_Asakusa.jpg");
 }

 header {
   width: 100%;
   height: 53px;
   padding: 0px;
   float: left;
   position: fixed;
   background-color: #2f3640;
   border-bottom: 2px solid #fff;
   border-shadow: 5px;
   z-index: 20;
 } 
 header:before{
   content: " ";
   //top: 0;
   //left: 0;
   width: 1000px;
   height: 100px;
   background-color: #fff;
   z-index: 21;
 }


// MENU !


#about{
}
#about ul,
#about ol{
 display: flex;
 list-style: none;
 border-radius: 20px;
}

#about > ul{
 display: flex;
 align-items: center;
 float: right;
 padding-right: 10%;
 //line-height: 80px;
 //padding: 3px;
 //border: 1px #fff solid;
 overflow: hidden;
 height: 53px;
 //padding-bottom: 20px;
 //align-self: flex-end;
}

#about > ul li a{
//display: absolute;
color: #fff;
background: #434b56;
font-size: 23px;
text-transform: uppercase;
transition: all 0.4s ease;
padding:13px;
padding-top: 15px;
padding-bottom: 12px;
z-index:9999;
}

#about > ul li:first-child:hover a{
}
#about > ul li:first-child a{
      background-color: #2f3640;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      border-radius: 50%;
      width: 20px;
}
#about > ul li:last-child a{
padding-right: 15px;
border-radius:0px 25px 25px 0px;
}

 #about > ul li a:hover {
   background-color: #262c33;
 } 
 #about > ul li a:active {
   background-color: #999;
   transition: none;
 } 



/*sub menu*/


#about li > ul li:first-child a{
display: block;
border-radius: 0px;
background-color: #262c336e;
width: 100%;
}
 #about > ul li:first-child a:hover {
   background-color: #262c33;
 } 
 #about > ul li:first-child a:active {
   background-color: #999;
   transition: none;
 } 


#about li ul{
position: absolute;
min-width: 150;
display: none;
}

#about li > ul li a{
display: flex;
text-transform: none;
padding-top: 5px;
font-size: 18px;
background-color: #262c336e;
padding-left: 5px;
}

#about li:hover > ul{
display: block;
}


#about li > ul{
overflow: hidden;
//border-bottom: 1px #fff solid;
//border-left: 1px #fff solid;
//border-right: 1px #fff solid;
margin-top: 11px;
border-radius:0px 30px 15px 15px;
z-index:9998;
}
#about li > ul li:last-child a{
border-radius: 0px;
padding-left: 5px;
}


.search-box {
  position: releative;
  display: flex;
  padding: 3px;
  background-color: #434b56;
  border-radius: 40px 0px 0px 40px;
  //margin-top: -13px;
  height: 48px;
  //margin-bottom: -1px;
  //align-self: flex-end;
}
.search-btn {
}
.search-txt {
    display: flex;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 0;
    background: none;
    //line-height: 40px;
    width: 0;
    transition: all 0.4s ease;
}
::-webkit-input-placeholder {
color: #fff8;
}
.search-box:hover .search-txt {
    width: 170px;
    padding: 0 6px;
}
#about li .search-btn:hover {
//font-size: 20px;
}
#about li .search-btn:active {
background-color: #999;
font-size: 15px;
}
.search-box:hover{
background-color: #434b56;
//background-color: #7f7f7f5e;
}
 a{
 text-decoration: none;
 }
 header #logo {
   color: #fff;
   cursor: pointer;
   padding-top: 10px;
   float: left;
 }

 header #logo span {
   font-size: 1.7em;
   line-height: 35px;
   padding-left: 10%;
   font-family: 'Suez One', serif;
 }
 header #logo:active {
   color: #999;
}
 @media (min-width: 1251px) {
   #logo {
     font-size: 1em;
   }
 }
 @media (max-width: 1250px) {
   #logo {
     //text-align: center;
     //font-size: 0.8em;
     //width: 100%;
   }
   #about > ul{
     padding-right: 2%;
     //justify-content: center;
     //float: left;
     
}
 }
 
   .burger{
   display: none;  
 } 
   @media (max-width: 1130px) {
   
   .burger{
     display: block;
     position: relative;
     top: 26px;
     width: 30px;
     height: 20px;
     z-index: 2;
     float: right;
     margin-right: 15px;
   }
   .burger span{
     background-color: #fff;
     position: absolute;
     width: 100%;
     height: 2px;
     right: 0;
     //top: 26px;
   }
   
   .burger:before,
   .burger:after{
     content: " ";
     background-color: #fff;
     position: absolute;
     width: 100%;
     height: 2px;
     right: 0;
   }
   
   .burger:before{
     top: -12px;
   }
   .burger:after{
     top: 12px;
   }
   
   #logo {
     position: relative;
    /* text-align: center;
     font-size: 0.8em;
     width: 100%;*/
     z-index: 2;
   }

   #about{
     position: fixed;
     top: 53px;
     right: 0;
     width: 250px;
     height: auto;
      
     z-index: 1;
 } 
   #about > ul {
   //width: 250px;
   background-color: #434b56;
     top: 0;
     right: 0;
     height: auto;
     z-index: 2;
     display: block;
     //height: 100%;
     width: 100%;
     border: 2px solid #fff;
     border-radius: 35px 0 35px 35px;
     
   }
   #about > ul li:last-child a{
   border-radius: 0px;
     padding: 15px 90px 15px 90px;
   }

   #about > ul li {
   //float: right;
     padding: 13px 0;
     //width: 300px;
   }
   #about ul > li a{
   //float: right;
     padding: 15px 90px 15px 90px;
     //width: 100px;
     //width: 300px;
   }
    #about > ul li:first-child{
    float: right;
    padding: 5px 5px 18px 90px;
    background: #262c33;
   }
    #about ul > li:first-child a{
    padding: 13px;
    background: #262c33;
   }
   #about li > ul li{
   display: none;
   }
   .search-txt {
    width: 170px;
    padding: 0 6px;
}
#about li .search-btn:active {
background-color: #999;
font-size: 15px;
}
   
}   

  .wrapper{
	//height: 200px;
	padding: 60px 50px 0 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
//.slider{
// min-width: 0;
//}
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-end;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{
   cursor: pointer;
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
   opacity: 0.2;
}
.slick-arrow:hover{
   opacity: 0.8;
}
.slick-arrow:active{
   background: #fff;
}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
 min-width: 0;
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 0;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url("prev.png") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url("next.png") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
 text-align: center;
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}


.content0{
  display: flex-box;
  //position: relative;
  //float: center;
  border: 1px solid #fff;
  background-color: #262c336e;
  width: 1350px;
  height: auto; 
  margin: 0  115px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #fff;
  //opacity: 0.8;
	//align-items: center;
	//justify-content: center;
}
 
.sidebar{
  display: flex-box;
  color: #fff;
  position: ;
  float: left;
  //border: 1px solid #fff;
  background-color: #2f3640;
  width: 280px;
  height: 3035px; 
  padding: 5px 5px 0 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
  //align-items: center;
	 justify-content: center;
  //text-align: center;
  //opacity: 
}
  .bred{
  padding: 5px;
  text-align: center;
  }
  .sidebar > a{
  color: #fff;
  font-size: 20px;
  text-decoration: underline;
  }
.content-1{
  display: flex-box;
  position: relative;
  float: left;
  //border: 1px solid #fff;
  background-color: #2f3640;
  width: 1030px;
  height: 600px; 
  margin: 5px 5px 5px 5px;
  border-radius: 30px;
  box-shadow: 0 0 5px #fff;
  //opacity: 0.8;
  
}
.img1{
  //display: flex;
  //align-items: center;
  //margin: 5px 5px 5px 5px;
  height: 500px;
  width: auto;
  border-radius: 30px;
  border: 1px solid #fff;
}
 .cat{
  display: flex;
  //align-items: center;
  margin: 5px 5px 5px 5px;
  padding-left: 0px;
  height: 500px;
  //width: 50%;
  //border-radius: 30px;
  //border: 1px solid #fff;
}
 .opisanie{
  width: 60%;
}

h3{
color: #fff;
display: flex;
justify-content:center;
//padding: 0 5px;
width: 100%;
}

h4{
height:60px;
color: #fff;
display: flex;
justify-content:center;
padding: 0 20px;
text-align: center;
align-items: center;

}

h6{
color: #fff;
display: flex;
//justify-content:center;
margin: 20px 0 0 15px;
padding: 5px;
//text-align: center;
//width:60%;
margin-top: 10px;
background-color: #262c33;
border-radius: 10px;
height: 360px;
width: 587px;
overflow: hidden;
text-overflow: ellipsis;
}

h5{
font-size: 20px;
color: #fff;
display: flex;
//justify-content:center;
margin: 20px 0 0 15px;
padding: 5px;
//text-align: center;
//width:60%;
margin-top: 10px;
background-color: #262c33;
border-radius: 10px;
}

.butt{
  padding: 20px;
}

.button1{
  cursor: pointer;
  float: right;
  font-size: 21px;
  color: #fff;
  width: 110px;
  height: 50px;
  border-radius: 20px;
 
background: rgb(40,52,59);
background: -moz-linear-gradient(45deg,  rgba(40,52,59,1) 24%, rgba(40,52,59,1) 54%, rgba(181,189,200,1) 100%);
background: -webkit-linear-gradient(45deg,  rgba(40,52,59,1) 24%,rgba(40,52,59,1) 54%,rgba(181,189,200,1) 100%);
background: linear-gradient(45deg,  rgba(40,52,59,1) 24%,rgba(40,52,59,1) 54%,rgba(181,189,200,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 );
}
 .button1:hover{
 font-size: 22px;
}
 .button1:active{
 font-size: 20px;
background: rgb(181,189,200);
background: -moz-linear-gradient(45deg,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 22%, rgba(40,52,59,1) 58%);
background: -webkit-linear-gradient(45deg,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 22%,rgba(40,52,59,1) 58%);
background: linear-gradient(45deg,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 22%,rgba(40,52,59,1) 58%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
 }
 
 .pages-numbers{
display: flex;
justify-content:center;
padding: 2px 20px;
text-align: center;
align-items: center;
border: 1px 0 solid #fff;
background-color: #434b56
 }
 
 .pages-numbers span{
display: flex;
font-size: 20px;
color: #fff;
padding: 5px 20px;
background: #2f3640;
opacity: 0.4;
 }
 
 .pages-numbers a{
 color: #fff;
padding: 2px 30px;
;
 }
 .pages-numbers a:hover{
background-color: #2f3640;
}
.pages-numbers a:active{
background-color: #999;
}